*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #94FFD8;
  }
  
  nav{
    display: flex;
    width: 85%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    margin-bottom: 17%;
    
  }
  
  nav ul li a{
    text-decoration: none;
    color: #8576FF;
    font-weight: bold;
  }
  
  nav ul li a:hover{
    color: red;
  }
  
  .logo{
    width: 100px;
    height: 100px;
    float: left;
  }
  
  .detel{
    margin-left: 6%;
    margin-top: 13%;
  }
  
  .detel:hover{
    animation: fontGrowAndMove 1.5s ease-in-out;
  }
  
  .detel h1{
    font-size: 40px;
    color: #212121;
  }
  
  .edit{
    color: #8576FF;
  }
  
  .detel p{
    color: #874CCC;
    line-height: 22px;
  }
  
  .detel a{
    background: #01439F;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
  }
  
  .images{
    width: 45%;
    position: absolute;
    height: 80%;
    bottom: 0;
    left: 65%;
  }
  
  .images img{
    height: 120%;
    position: absolute;
    left: 32%;
    bottom: -60px;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
  }
  
  .images:hover .shape{
    bottom: 8px;
  }
  
  .foto3 .satria1{
    height: 80%;
    position: absolute;
    left: 30%;
    bottom: 27%;
  }
  
  .foto .raditya{
     height: 75%;
    position: absolute;
    left: 45%;
    bottom: 23%;
  }
  
  .images:hover .satria1{
    left: 20%;
    bottom: 29%;
  }
  
  .images:hover .raditya{
    left: 50%;
    bottom: 45%;
  }
  @keyframes zoomIn {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2); 
    }
  }
  
  @keyframes zoomOut {
    from {
      transform: scale(1.2); 
    }
    to {
      transform: scale(0.9);
    }
  }
  
  .zoom-in {
    animation: zoomIn 0.5s ease; 
  }
  
  .zoom-out {
    animation: zoomOut 0.5s ease;
  }
  
  .logo:hover {
    animation: zoomIn 0.5s ease forwards; 
  }
  
  .logo:active {
    animation: zoomOut 0.5s ease forwards;
  }
  @keyframes fontGrowAndMove {
    0% {
      font-size: 16px;
      transform: translateX(0);
    }
    50% {
      font-size: 18px;
      transform: translateX(55px);
    }
    100% {
      font-size: 16px;
      transform: translateX(0);
    }
  }
  
  .hero1{
    background: #94FFD8;
  }
  
  
  .detel1{
    margin-left: 6%;
    margin-top: 13%;
  
  }
  